{% extends 'products/base.html' %}

{% block content %}
    <p>DashBoard Shamboo Shivaay</p>

    <h1>Products</h1>
    <div class="row">
        {% for product in items %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Rs {{product.price}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
    <!-- <ul>

        <li>{{ product.name }} (Rs. {{ product.price }} per piece)</li>
        {% comment %} {% endfor %} {% endcomment %}
    </ul> -->




{% endblock  %}